# Question 38

### **Question:**

> **_With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line._**

---

### Hints:

> **_Use [n1:n2] notation to get a slice from a tuple._**

---



**Solutions:**

In [1]:
tpl = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

for i in range(0, 5):
    print(tpl[i], end=" ")
print()
for i in range(5, 10):
    print(tpl[i], end=" ")

1 2 3 4 5
6 7 8 9 10

**OR**

In [ ]:
"""
Solution by: CoffeeBrakeInc
"""

tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
lt = int(len(tup) / 2)
print(tup[:lt], tup[lt:])

---

**OR**

In [2]:
"""
Solution by: AasaiAlangaram
"""

tp = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

print("The Original Tuple:", tp)

[
    print("Splitted List :{List}".format(List=tp[x : x + 5]))
    for x in range(0, len(tp), 5)
]

The Original Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Splitted List :(1, 2, 3, 4, 5)
Splitted List :(6, 7, 8, 9, 10)

[None, None]

---

# Question 39

### **Question:**

> **_Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)._**

---

### Hints:

> **_Use "for" to iterate the tuple. Use tuple() to generate a tuple from a list._**

---



**Solutions:**

In [3]:
tpl = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
tpl1 = tuple(i for i in tpl if i % 2 == 0)
print(tpl1)

(2, 4, 6, 8, 10)

**OR**

In [7]:
tpl = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
tpl1 = tuple(filter(lambda x: x % 2 ==0,tpl))
print(tpl1)

(2, 4, 6, 8, 10)

---

# Question 40

### **Question:**

> **_Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No"._**

---

### Hints:

> **_Use if statement to judge condition._**

---



**Solution: Python 3**

In [8]:
s = input()
if s =="yes" or s=="YES" or s=="Yes":
    print("Yes")
else:
    print("No")

yes
Yes

---

In [9]:
s = input()
ans = "".join("Yes" if s == 'Yes' or s =="YES" or s =="yes" else "No")
print(ans)

ks
No

---

# Question 41

### **Question:**

> **_Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10]._**

---

### Hints:

> **_Use map() to generate a list.Use lambda to define anonymous functions._**

---



**Solutions:**

In [14]:


li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ans = list(map(lambda x: x ** 2, li))
print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

---

# Question 42

### **Question:**

> **_Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10]._**

---

### Hints:

> **_Use map() to generate a list.Use filter() to filter elements of a list.Use lambda to define anonymous functions._**

---



**Solutions:**

In [16]:
li = [1,2,3,4,5,6,7,8,9,10]
ans = map(lambda x: x ** 2,filter(lambda x:x%2==0, li))
print(list(ans))

[4, 16, 36, 64, 100]

---

# Question 43

### **Question:**

> **_Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included)._**

---

### Hints:

> **_Use filter() to filter elements of a list.Use lambda to define anonymous functions._**

---



**Solutions:**

In [22]:
li = list(filter(lambda x : x%2==0,range(1,21)))
print(li)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

---